<!DOCTYPE html>
<html lang="en">
  {{>head}}
  <body>
    {{>header}}
    {{{body}}}
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>